<?xml version="1.0"?>
<!--
/**
 * Boxalino Data Integration
 * https://boxalino.atlassian.net/wiki/spaces/BPKB/pages/252149803/Data+Integration
 *
 * Follow the integration documentation
 * https://github.com/boxalino/data-integration-magento2/wiki/Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- BOXALINO-DI logger configuration -->
    <virtualType name="Boxalino\DataIntegration\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Content\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-content.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Content\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Logger: Content</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Content\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Order\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-order.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Order\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Logger: Order</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Order\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\User\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-user.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\User\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Logger: User</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\User\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- FULL LOGGER -->
    <virtualType name="Boxalino\DataIntegration\Logger\Full\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-full.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Full\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Full Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Full\Content\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-content-full.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Full\Content\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Full Logger: Content</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Content\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- DELTA LOGGER -->
    <virtualType name="Boxalino\DataIntegration\Logger\Delta\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-delta.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Delta\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Delta Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Delta\Content\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-content-delta.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Delta\Content\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Delta Logger: Content</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- INSTANT LOGGER -->
    <virtualType name="Boxalino\DataIntegration\Logger\Instant\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/boxalino-di-instant.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Boxalino\DataIntegration\Logger\Instant\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Boxalino DI Instant Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Boxalino\DataIntegration\Logger\Instant\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- GENERAL CONFIGURATIONS -->
    <preference for="Boxalino\DataIntegrationDoc\Framework\Util\DiConfigurationInterface" type="Boxalino\DataIntegration\Helper\Di\Configuration"/>
    <preference for="Boxalino\DataIntegration\Model\DataProvider\DiSchemaDataProviderResolverInterface" type="Boxalino\DataIntegration\Model\DataProvider\DiSchemaDataProviderResolver"/>

    <!-- doc_language INTEGRATION -->
    <!-- doc_languages generator : creates the doc_language and exports Website configured languages -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocLanguagesHandlerInterface" type="Boxalino\DataIntegration\Service\Document\Language\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\Language\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- doc_attribute_value INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocAttributeValuesHandlerInterface" type="Boxalino\DataIntegration\Service\Document\AttributeValue\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\AttributeValue\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- doc_attribute INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocAttributeHandlerInterface" type="Boxalino\DataIntegration\Service\Document\Attribute\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\Attribute\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- doc_product INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocProductHandlerInterface" type="Boxalino\DataIntegration\Service\Document\Product\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\Product\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- doc_order INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocOrderHandlerInterface" type="Boxalino\DataIntegration\Service\Document\Order\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\Order\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Order\Logger</argument>
        </arguments>
    </type>

    <!-- doc_user INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocUserHandlerInterface" type="Boxalino\DataIntegration\Service\Document\User\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\User\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\User\Logger</argument>
        </arguments>
    </type>

    <!-- doc_content INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocContentHandlerInterface" type="Boxalino\DataIntegration\Service\Document\Content\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\Content\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Content\Logger</argument>
        </arguments>
    </type>

    <!-- doc_user_selection INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocUserSelectionHandlerInterface" type="Boxalino\DataIntegration\Service\Document\UserSelection\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\UserSelection\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Content\Logger</argument>
        </arguments>
    </type>

    <!-- doc_user_generated_content INTEGRATION (propertyHandlers and dataProviders must be declared definition) -->
    <preference for="Boxalino\DataIntegrationDoc\Service\Integration\Doc\DocUserGeneratedContentHandlerInterface" type="Boxalino\DataIntegration\Service\Document\UserGeneratedContent\DocHandler"/>
    <type name="Boxalino\DataIntegration\Service\Document\UserGeneratedContent\DocHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Content\Logger</argument>
        </arguments>
    </type>

    <!-- DELTA sync logs in boxalino-di-delta.log file -->
    <type name="Boxalino\DataIntegration\Model\Indexer\Delta">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Logger</argument>
        </arguments>
    </type>

    <!-- CLI commands -->
    <preference for="Boxalino\DataIntegration\Api\Mview\DiViewHandlerInterface" type="Boxalino\DataIntegration\Model\Indexer\Mview\View"/>
    <type name="Boxalino\DataIntegration\Framework\Console\Product\FullDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Order\FullDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Order\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\User\FullDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\User\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Content\FullDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserSelection\FullDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserGeneratedContent\FullDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Product\FullMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Order\FullMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Order\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\User\FullMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\User\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Content\FullMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserSelection\FullMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserGeneratedContent\FullMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Full\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Product\DeltaDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Order\DeltaDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Order\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\User\DeltaDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\User\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Content\DeltaDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserSelection\DeltaDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserGeneratedContent\DeltaDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Product\DeltaMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Product\InstantMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Instant\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Order\DeltaMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Order\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\User\DeltaMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\User\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\Content\DeltaMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserSelection\DeltaMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Logger</argument>
        </arguments>
    </type>
    <type name="Boxalino\DataIntegration\Framework\Console\UserGeneratedContent\DeltaMviewDataIntegration">
        <arguments>
            <argument name="logger" xsi:type="object">Boxalino\DataIntegration\Logger\Delta\Content\Logger</argument>
        </arguments>
    </type>

</config>
