<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="boxalino_di" translate="label" sortOrder="10">
            <label>Boxalino Data Integration</label>
        </tab>
        <section id="boxalino_di" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Generic</label>
            <tab>boxalino_di</tab>
            <resource>Boxalino_DataIntegration::configuration</resource>

            <group id="di_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credentials</label>
                <field id="status" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>The status is set per desired WEBSITE to be integrated with Boxalino.</comment>
                </field>
                <field id="account" translate="label comment" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Boxalino Account</label>
                    <validate>required-entry validate-no-empty</validate>
                    <comment><![CDATA[Don't have a Boxalino account? Find out about <a href="https://www.winning-interactions.ai/" target="_blank">getting started with Boxalino</a>.]]></comment>
                </field>
                <field id="api_key" translate="label comment" sortOrder="3" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Boxalino API Key (ADMIN role)</label>
                    <validate>required-entry validate-no-empty</validate>
                    <comment><![CDATA[Don't know the API credentials? Locate the <a href="https://boxalino.atlassian.net/wiki/spaces/BPKB/pages/713785345/API+Credentials#Roles" target="_blank">API credentials with <b>ADMIN</b> role</a>.]]></comment>
                </field>
                <field id="api_secret" translate="label comment" sortOrder="3" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Boxalino API Secret (ADMIN role)</label>
                    <validate>required-entry validate-no-empty</validate>
                    <comment><![CDATA[Don't know the API credentials? Locate the <a href="https://boxalino.atlassian.net/wiki/spaces/BPKB/pages/713785345/API+Credentials#Roles" target="_blank">API credentials with <b>ADMIN</b> role</a>.]]></comment>
                </field>
                <field id="is_dev" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Use development data index</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If "YES", the API requests will have the dev:true parameter; If "NO", the API request will use the "dev":false parameter. Find out about <a href="https://github.com/boxalino/data-integration-magento2/wiki/Data-Indexes" target="_blank">the Boxalino data indexes</a>.]]></comment>
                </field>
                <field id="is_test" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Test Mode</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When in test mode, the DI process is logged and profiled</comment>
                </field>
                <field id="batch_size" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Batch Size</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <comment>Batch Size for export in full mode (product, customers, orders, etc)</comment>
                </field>
            </group>
        </section>

        <section id="boxalino_di_F" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Full Data Sync</label>
            <tab>boxalino_di</tab>
            <resource>Boxalino_DataIntegration::configuration</resource>

            <group id="di_config" translate="label" type="text"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Full Data Integration</label>
                <field id="product" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="order" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Orders</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="content" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Content</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user_selection" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Selection</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user_generated_content" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Generated Content</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="core" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Core</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="dispatch" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Dispatch Request Mode</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Only enabled if/when Boxalino has confirmed the computation of your FULL content in BQ is over 1h (exceptional case)</comment>
                </field>
                <field id="endpoint" translate="label comment" sortOrder="70" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Boxalino Endpoint</label>
                    <validate>validate-url</validate>
                    <comment><![CDATA[Use the endpoint <a href="https://boxalino.atlassian.net/wiki/spaces/BPKB/pages/394559761/Sync+Request#Request-Definition" target="_blank">for the FULL data sync</a>.]]></comment>
                </field>
            </group>
        </section>

        <section id="boxalino_di_D" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delta Data Sync</label>
            <tab>boxalino_di</tab>
            <resource>Boxalino_DataIntegration::configuration</resource>

            <group id="di_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Delta Data Integration</label>
                <field id="product" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="order" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Orders</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="content" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Content</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user_selection" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Selection</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user_generated_content" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Generated Content</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="endpoint" translate="label comment" sortOrder="60" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Boxalino Endpoint</label>
                    <validate>validate-url</validate>
                    <comment><![CDATA[Use the endpoint <a href="https://boxalino.atlassian.net/wiki/spaces/BPKB/pages/394559761/Sync+Request#Request-Definition" target="_blank">for the DELTA data sync</a>.]]></comment>
                </field>
                <field id="outsource" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Outsource</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Enable the flag to avoid exporting doc_attribute, doc_attribute_value, doc_languages during DELTA data sync</comment>
                </field>
            </group>

        </section>

        <section id="boxalino_di_I" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Instant Data Sync</label>
            <tab>boxalino_di</tab>
            <resource>Boxalino_DataIntegration::configuration</resource>

            <group id="di_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instant Data Integration</label>
                <field id="product" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="user" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="order" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Orders</label>
                    <validate>validate-select</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="endpoint" translate="label comment" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Boxalino Endpoint</label>
                    <validate>validate-url</validate>
                    <comment><![CDATA[Use the endpoint <a href="https://boxalino.atlassian.net/wiki/spaces/BPKB/pages/394559761/Sync+Request#Request-Definition" target="_blank">for the INSTANT data sync</a>.]]></comment>
                </field>
                <field id="fields" translate="label comment" sortOrder="50" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Instant Fields</label>
                    <comment>Declare which fields must be updated as part of your instant sync</comment>
                </field>
            </group>
        </section>


    </system>
</config>
